:root {
  --border: #888;
}
body {
  background-color: hsl(240, 3%, 7%);
}

#title-text {
  color: hsl(200, 0%, 84%);
  margin-top: 15px;
  margin-bottom: 0px;
}

#d3-map {
  border: 2px solid var(--border);
  border-radius: 5px;
}

@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}

.countries-guess-full {
  font-size: 18px;  /* Emoji font size, set here */
  width: 100%;
  margin-top: 5px;
  display: flex;

  text-align: center;

  color: hsl(200, 0%, 84%);
}

.countries-guess-full div {
  padding: 4px;
  border: 2px solid var(--border);
  border-radius: 5px;
  background-color: hsl(240, 3%, 12%);
  flex: 1;
}
.countries-guess-full div:first-child {
  margin-right: 3px;
  flex: 3;

  font-size: 18px;
}

/* .guess-text { */
/* margin-right: 10px; */
/* width: 60%; */
/* } */

.countries-guess-empty {
  /* This is pretty dumb, but I didn't have a better way to match sizes :x */
  height: 39px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  background-color: hsl(0, 0%, 38%);
}

/* ---------- Autocomplete dropdown  ----------------  */

#countries-input {
  width: 100%;
  font-size: 18px;
  padding: 4px;
  font-family: roboto, helvetica, arial, sans-serif;
  color: hsl(200, 0%, 84%);
  background-color: hsl(0, 0%, 17%);
  border: 2px solid var(--border);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropdown-menu {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

/* -------------------------------  */
/* css for the shiny buttons */
.btn {
  cursor: pointer;
  background: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

/* .btn:hover { */
/*   cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto; */
/* } */
.blue {
  color: #55acee;
  border: 2px #55acee solid;
}

.blue:hover {
  background-color: #55acee;
  color: #fff
}

.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.green:hover {
  color: #fff;
  background-color: #2ecc71;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.orange {
  color: #e67e22;
  border: 2px #e67e22 solid;
}

.orange:hover {
  color: #fff;
  background-color: #e67e22;
}

.yellow {
  color: #f1c40f;
  border: 2px #f1c40f solid;
}

.yellow:hover {
  color: #fff;
  background-color: #f1c40f;
}

.buttons {
  padding-top: 30px;
  text-align: center;
}


/* Alert popup */
.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}
