
/* triple split column w/ centered text (see: coin) */
.stacked_bar_chart {
  padding:10px;
  flex:1 1 0px;
  min-width:0px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column for code/text side-by-side breakdown (see: card-network) */
.smol-text-col { /* Left in double-column layout, centered on mobile */
  justify-content: center;
}

.code-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 100%;
  flex: auto;

  padding-left:10px;
  padding-right:10px;
}
.code-row {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: flex-end; */
  padding:15px;



  justify-content: center;
  align-items: center;
}

.code-row .highlight {
  width: min-content;
}


@media screen and (min-width: 900px) {
  .code-col {
    flex: 1;
    justify-content: right;
  }
  .smol-text-col {
    flex: 1;
    justify-content: left;
  }
}

.code-col p { margin:0; }

/* Togglable play/pause button! */
.button-pp {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  /* border-color: transparent transparent transparent #202020; */
  border-color: transparent transparent transparent #f3f3f3;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}
.button-pp.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.button-pp:hover {
  border-color: transparent transparent transparent #404040;
}

/* Monospace block for terminal stuff */
.terminal-code{
  text-align: left;
  font-size: 1.25em;
  line-height:1em;  /* Make it easy to correct exactly height'd divs! */
  font-family: monospace;
  white-space: pre-wrap;

  background: black;
  color: antiquewhite;
}


/* Small edge padding for mobile */
.outline-2 {
    padding: 0 10px;
}
/* Make figures/ captions look better */
.figure {
    text-align: center;
    background: #f0f0f0;
    border: 1px solid #7194b8;
    padding: 10px;
    width: min-content;
    margin: 0 auto;
}
.figure > p {
    margin: 0px;
    line-height: 1.2rem;
    font-size: 1rem;
    font-style: italic;
    color: #475678;
}

.figure-number {
    font-weight: bold;
}

.light_border {
  /* border: 3px solid #ccc5b6 */
  /* margin-bottom: 10px; */
}

/* Fixing overflow issues! */
.figure > p > * { max-width: 85vw; }
.figure > canvas { max-width: 85vw; }
.MathJax_Display { overflow-x: auto; }
/* The bar containing tags and date */
.meta_clearfix { overflow-x: auto; }

/* Stuff taken procedural animation talk. Sliders, borders etc. */

/* .align_all { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/* } */

.slider_row {
  display: block;
  font-size: 13px !important;
  padding-bottom: 10px !important;
}

.slider_label {
  display: inline-block;
  min-width: 130px;
  text-align: right;
  /* font-size: smaller; */
  font-size: 13px !important;
  font-weight: bold;
  color: #4c8ab2;
}

.flat-slider {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.slider_text {
  border:0;
  font-size: 13px !important;
  text-align: left;
  font-weight:bold;
  display:inline-block;
  font-size: smaller;
  min-width: 40px;
  color: #4c8ab2;
}


/* Flat slider */

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #6d777a;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #ef6461;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 6px;
}

.org-center {
  text-align: center;
}
.org-center p {
  margin-top: -20px;
}
