
body {
    background-color: #121213
}

@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}

.justify-center {
    display: flex;
    justify-content: center;
}

.crosswordle {
    display: grid;
    /* flex: 1 0 auto; */
    width: 100%;
    max-width: 450px;
    /* min-width: 300px; */
    grid-gap: 5px;

    padding-bottom: 30px;
}

.cwrow {
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
}

.cwcell {
    position: relative;
    /* flex: 1 1 0px; */
    flex: 1;
    text-align: center;
}

/* Cells */
.active {
    box-shadow:inset 0px 0px 0px 2px #3a3a3c;
}

.cwcell-info {
    /* width: 10px; */
    /* text-align: center; */
    /* vertical-align: middle; */
}

/* This CSS hack ensures our variable-width cells have the same height */
/* as their width - i.e. they stay square! */
.cwcell:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}

.results-modal {
    font-family: var(--bs-body-font-family);
}

.results-emoji-breakdown {
    font-family: color-emoji;
    /* padding-left: 15px; */
}

/* .tile:after { */
/*     content: ""; */
/*     float:left; */
/*     display: block; */
/*     padding-top: 100%; */
/* } */



/* LOGO */
.navbar-logo {
  display: grid;
  grid-template-columns: repeat(5, 12px);
  grid-template-rows: repeat(4, 12px);
  text-align: center;
  /* height: 1em; */
  /* width: 1em; */
  gap: 1px;
  font-size: 14px;
  /*     W */
  /* C r o s s */
  /*     r     */
  /*     d l e */
  grid-template-areas:
    "v v a y y"
    "b c d e f"
    "x x g z z"
    "x x h i j";
}
.navbar-logo * {
  display: inline-block;
  vertical-align: middle;
  /* line-height: normal; */
  line-height: 10px;
}
