## -*- coding: utf-8 -*-
<%namespace name="zzz" file="zzz_helper.tmpl" import="*" />
<%namespace name="header" file="zzz_header.tmpl" import="*" />
<%namespace name="footer" file="zzz_footer.tmpl" import="*" />
${set_locale(lang)}
${zzz.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>

    ${header.html_header()}
    <%block name="content"></%block>
    ${footer.html_footer()}

### Gdpr notice!
    <div id="cookies-eu-banner" style="display: none; position:fixed; bottom: 0;">
        By continuing to visit this site, you accept the use of cookies by Google Analytics and Google Adsense.
        <a href="https://imois.in/pages/privacy-policy/" id="cookies-eu-more">Read more</a>
        <button id="cookies-eu-reject">Reject</button>
        <button id="cookies-eu-accept">Accept</button>
    </div>

    ${body_end}


    ${template_hooks['body_end']()}
    ${zzz.late_load_js()}


<div>
</body>
</html>
