
body {
    background-color: #121213
}

@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}

.justify-center {
    display: flex;
    justify-content: center;
}

.crosswordle {
    display: grid;
    /* flex: 1 0 auto; */
    width: 100%;
    max-width: 450px;
    /* min-width: 300px; */
    grid-gap: 5px;

    padding-bottom: 30px;
}

.cwrow {
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
}

.cwcell {
    position: relative;
    /* flex: 1 1 0px; */
    flex: 1;
    text-align: center;
}

/* Cells */
.active {
    box-shadow:inset 0px 0px 0px 2px #3a3a3c;
}

/* This CSS hack ensures our variable-width cells have the same height */
/* as their width - i.e. they stay square! */
.cwcell:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}

.results-modal {
    font-family: var(--bs-body-font-family);
}

.results-emoji-breakdown {
    font-family: color-emoji;
    font-size: 2em;
    /* padding-left: 15px; */
}


/* LOGO */
.navbar-logo {
  display: grid;
  grid-template-columns: repeat(7, 12px);
  grid-template-rows: repeat(4, 12px);
  align-items: center;
  margin-left: 20px;
  /* height: 1em; */
  /* width: 1em; */
  gap: 1px;
  font-size: 14px;

/*         W   */
/*         O   */
/* S Q U A R E D */
/*         D L E */

  grid-template-areas:
    "v v v v a y y"
    "v v v v b y y"
    "c d e f g h i"
    "x x x x j k l";
}
.navbar-logo * {
  display: inline-block;
  vertical-align: middle;
  /* line-height: normal; */
  line-height: 10px;
  text-align: center;
}

/* navbar */
.nav-button {
    margin: 0 10px 0 10px;
}

.nav-button * {
    font-size: 23px;
}

#guess_counter {
  color: hsl(200, 1%, 34%);

  font-size: 2rem;
  /* font-size: clamp(.5rem, 2.5vmin, 1.5rem); */
  margin-left: auto;
  margin-bottom: 0.6rem;
  width: auto;
}


/* MODALS */
.modal-content {
  background: #2b2b2b;
  color: white;
}

.modal-header {
  border-bottom: 1px solid #5b5b5b;
}
.modal-footer {
  border-top: 1px solid #5b5b5b;
}

.modal-header button {
  color: white;
}


.modal-body .tile {
  width: 2em;
  /* background-color: hsl(240, 3%, 7%); */
}

.explanation-grid {
  margin-bottom: 20px;
}
.explanation-grid div {
  margin-top: 3px;
}
/* Center explanation text */
.explanation-grid .row .col {
    display: flex;
    align-items: center;
}

.results-grid {
  text-align: center;
  margin-bottom: 36px;
  width: 60%;
}
.statistics-text {
  font-size: 23px;
}
.results-grid div {
  padding: 0px;
}
.results-grid div div .num {
  font-size: 30px;
}
.results-grid div div .txt {
  font-size: 12px;
}
